@import url(https://fonts.googleapis.com/css?family=Rubik+Mono+One:regular);
/*ОБНУЛЕНИЕ*/

*, *::before, *::after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
    color: #000000;
}
ul, ol, li {
    list-style: none;
    text-decoration: none;
}
img {
    vertical-align: top;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: inherit;
    font-size: inherit;
}

/*НАЧАЛО ВЕРСТКИ*/
body {
font-family: 'Rubik Mono One', sans-serif;
}
.header { 
    position: fixed;
    right: 0;
    left: 0;
    background-color:#fff;
    //border-bottom: 1px solid black;
    .headerCover {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .headerLogo {
            .logoimg {
                width: 40px;
            }
        }
        .headerNav {   
            .navCover {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 20px;
                position: relative;
                .live {
                    display: flex;
                    align-items: center;
                    .recimg {
                        width: 20px;
                     }
                }
                .navLink {
                    padding: 6px 6px;
                }
                .navLink:hover {
                    border: 1px solid purple;
                    border-radius: 10px;
                }
                .navLink ul {
                    display: none;
                    position: absolute;
                    top: 97%;    
                    left: 317px;
                    right: 0; 
                    text-align: center; 
                }
                .navLink:hover ul {
                    display: flex;
                    flex-direction: column;
                    column-gap: 10px;
                    
                    border-radius: 10px;
                    background-color: rgba($color: black, $alpha: 0.5);
                    border: 1px solid purple;
                    padding: 6px 3px;
                }
                .navLinkBottom {
                    float: none;
                    position: relative;
                }
                .navLinkBottom a {
                    font-family: 'Rubik Mono One', sans-serif;
                    font-size: 12px;
                    color: #fff;
                }
            }  
        }
        .headerLinks {
            display: flex;
            align-items: center;
            gap: 10px;
            .headerLinksImg {
                width: 35px;
            }
        }
    } 
}
.main {
    .fullscreen-bg {
        position: absolute;
        top: 106px;
        left: 0px;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        overflow: hidden;
    }
    .fullscreen-bg video{
        min-height: 700px;
        min-width: 100%;
        width: 100%;
        background-position: center center;
        background-repeat: no-repeat;
    }
    .mainGrid {
        display: grid;
        grid-template-columns: 80% 20%;
        grid-template-areas: "main news";
        .mainBlok {
            grid-area: main;
            font-size: 50px;
        }
        .newsBlok {
            grid-area: news;
            background: linear-gradient(to right, rgba($color: #fff, $alpha: 0.4), white);
            position: fixed;
            top: 61px;
            right: 0;
            min-height: 100%;
            max-height: 1vh;
            //border-left: 1px solid black;
            overflow: scroll;

            .newsTitle {
                text-align: center;
                padding-top: 13px;
                padding-bottom: 7px;
                background: linear-gradient(rgba($color: #fff, $alpha: 1.0), white);
                color: purple;
            }
            .newsCover {
                padding-left: 30px;
                padding-right: 30px;
                padding-top: 20px;
                padding-bottom: 20px;
                max-width: min-content;
                .newsImg {
                    width: 200px;
                    padding-bottom: 10px;
                }
                .newsText {
                    font-family: Verdana, Geneva, Tahoma, sans-serif;
                    font-size: smaller;
                    font-weight: bold;
                }

            }
        }
    }    
}