@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Rubik+Mono+One:regular);
/*ОБНУЛЕНИЕ*/
*, *::before, *::after {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #000000;
}

ul, ol, li {
  list-style: none;
  text-decoration: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
  font-size: inherit;
}

/*НАЧАЛО ВЕРСТКИ*/
body {
  font-family: "Rubik Mono One", sans-serif;
}

.header {
  position: fixed;
  right: 0;
  left: 0;
  background-color: #fff;
}
.header .headerCover {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .headerCover .headerLogo .logoimg {
  width: 40px;
}
.header .headerCover .headerNav .navCover {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  position: relative;
}
.header .headerCover .headerNav .navCover .live {
  display: flex;
  align-items: center;
}
.header .headerCover .headerNav .navCover .live .recimg {
  width: 20px;
}
.header .headerCover .headerNav .navCover .navLink {
  padding: 6px 6px;
}
.header .headerCover .headerNav .navCover .navLink:hover {
  border: 1px solid purple;
  border-radius: 10px;
}
.header .headerCover .headerNav .navCover .navLink ul {
  display: none;
  position: absolute;
  top: 97%;
  left: 317px;
  right: 0;
  text-align: center;
}
.header .headerCover .headerNav .navCover .navLink:hover ul {
  display: flex;
  flex-direction: column;
  -moz-column-gap: 10px;
       column-gap: 10px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid purple;
  padding: 6px 3px;
}
.header .headerCover .headerNav .navCover .navLinkBottom {
  float: none;
  position: relative;
}
.header .headerCover .headerNav .navCover .navLinkBottom a {
  font-family: "Rubik Mono One", sans-serif;
  font-size: 12px;
  color: #fff;
}
.header .headerCover .headerLinks {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .headerCover .headerLinks .headerLinksImg {
  width: 35px;
}

.mainCover {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  padding-top: 90px;
}
.mainCover a {
  text-decoration: underline;
  color: purple;
}
.mainCover .contactBlockCover {
  margin-left: 10%;
  margin-right: 10%;
}
.mainCover .contactBlockCover .advertising .contactTitle {
  margin-bottom: 20px;
  font-weight: bold;
}
.mainCover .contactBlockCover .advertising .contactBlockTitle {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 20px;
  font-size: 12px;
  color: rgba(128, 128, 128, 0.7);
}
.mainCover .contactBlockCover .advertising .contactInfoTitle {
  margin-left: 40px;
  font-size: 15px;
}
.mainCover .contactBlockCover .dispatcher {
  display: flex;
  gap: 100px;
  margin-top: 100px;
}
.mainCover .contactBlockCover .editorial {
  display: flex;
  gap: 100px;
  margin-top: 100px;
}
.mainCover .contactBlockCover .infoBlock .contactTitle {
  margin-bottom: 50px;
  font-weight: bold;
}
.mainCover .contactBlockCover .infoBlock .contactBlockTitle {
  margin-bottom: 10px;
  margin-top: 20px;
  margin-left: 10px;
  font-size: 12px;
  color: rgba(128, 128, 128, 0.7);
}
.mainCover .contactBlockCover .infoBlock .contactInfoTitle {
  margin-left: 30px;
  font-size: 15px;
}/*# sourceMappingURL=style.css.map */